<div class="row">
  <div class="col-sm-4">
    <h3>About</h3>
    <p>
      I registered this domain back in April 2000, because I thought it would
      be nice to have a domain with my name. Back then, the Nethercott "brand"
      was quite rare and unique. You could search for <b>Nethercott</b> and only get a
      few results. The last time I looked, if you search for <b>Nethercott</b> in Google,
      you get 153,000 results! At the top of the Nethercott brand (according to Google)
      you have funeral directors, a farm, an opticians, and of course the footballer Stuart Nethercott.
      <br/><a href="?page=sports">Sporty Nethercotts!</a>
    </p>
    <p></p>
  </div>
  <div class="col-sm-4">
    <h3>Places</h3>
    <p>
      There are also quite a few places with the name <b>Nethercott</b>. There seem to be quite a lot down
      in Devon, but I have also noticed that there are places in Oxford, Cornwall, and I even noticed there
      was a <b>Nethercott Close</b> in Luton!
      <br/><a href="?page=places">Places called Nethercott</a>
    </p>
  </div>
  <div class="col-sm-4">
    <h3>Meaning</h3>
    <p>
      From what I can make out the name <b>Nethercott</b> means <b>lower house that went with the job</b>
      (apparently cott isn't short for cottage as you might think). So maybe my ancestors were wealthy
      land owners then? Well, apparently not. Rural dwellings in those days were pretty humble afairs
      - the rich land owners would have lived in what they called <b>halls</b>.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <img src="img/NethercottPlace.jpg">
  </div>
  <div class="col-sm-6">
    <img src="img/NethercottRoad.jpg">
  </div>
</div>
<div class="row">
  <div class="col-sm-12 pt-2">
    <p>
      I'll add more to this site when I get a chance, but in the meantime I can be contacted at:&nbsp;
      <img src="img/jon-contact.png">
    </p>
  </div>
</div>
